@import url('https://fonts.googleapis.com/css?family=Fira+Code:300,regular,500,600,700');

/// @type string | list
$root-font-family: 'Fira Code' !default;

/// @type stirng
$root-font-size: 16px !default;

/// @type stirng
/// @alias root-font-size
$root-font-size--mobile: 14px !default;

/// 1.125 Major Second
///
/// @type map
/// @access private
///
/// @link https://type-scale.com/
$font-scales: (
  'h1': 2.027,
  'h2': 1.802,
  'h3': 1.602,
  'h4': 1.424,
  'h5': 1.266,
  'h6': 1.125,
  'p': 1,
  'label': 1,
) !default;

html {
	color: $white;
  font-family: $root-font-family;
  font-size: $root-font-size--mobile;

  @include mq(lg) {
    font-size: $root-font-size;
  }
}

@each $element, $font-value in $font-scales {
  #{$element} {
    font-size: $font-value * 1em;
  }
}

::selection {
  color: $dark;
  background-color: $green;
}
