// ---------------------------- Settings -------------------------------
$border-radius: 7px;
// ---------------------------------------------------------------------

// ------------------------- Color pallette ----------------------------
$red: hsl(0, 100%, 50%);
$white: hsl(0, 0%, 100%);
$bluish-green: hsl(191, 81%, 80%);
$light-green: hsl(166, 82%, 50%);
$green: hsl(152, 74%, 61%);
$dark-green: hsl(165, 58%, 9%);
$dark: hsl(0, 0%, 2%);
// ---------------------------------------------------------------------
